@use 'vars' as v;

/*
* Grid system using flex property
*/
.row {
  display: flex;
  flex-wrap: wrap;
}

@for $i from 1 through v.$grid-columns {
  .col-#{$i} {
    flex: 0 0 (100% / v.$grid-columns) * $i;
  }
}