/*
* RWD variables
*/
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1330px,
) !default;

$small: map-get($breakpoints, sm) !default;
$medium: map-get($breakpoints, md) !default;
$large: map-get($breakpoints, lg) !default;
$extra-large: map-get($breakpoints, xl) !default;

/*
* Spacers values
*/
$spacers: (
  "0": 0,
  "1": 0.5rem,
  // tiny
  "2": 0.75rem,
  // tiny-plus
  "3": 1rem,
  // small
  "4": 1.5rem,
  // small-plus
  "5": 2rem,
  // medium
  "6": 3rem,
  // medium-plus
  "7": 5rem,
  // large
  "auto": auto,
) !default;

$spacer-none: map-get($spacers, "0") !default;
$spacer-tiny: map-get($spacers, "1") !default;
$spacer-tiny-plus: map-get($spacers, "2") !default;
$spacer-small: map-get($spacers, "3") !default;
$spacer-small-plus: map-get($spacers, "4") !default;
$spacer-medium: map-get($spacers, "5") !default;
$spacer-medium-plus: map-get($spacers, "6") !default;
$spacer-large: map-get($spacers, "7") !default;

/*
* Grid
*/
$grid-columns: 12 !default;